.SquareChart {
  margin: 0 0 30px 0;
  padding: 0;
  box-sizing: border-box;

  figcaption {
    margin: 0 0 0.3em 0;

    .highlight {
      font-weight: bold;
    }
  }

  svg {
    margin: 0;
  }

  &-source {
    font-size: 0.8em;
  }
}
